* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Righteous', cursive;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    background: linear-gradient(to right, #3494E6, #EC6EAD);
    height: 100vh;
}

.flex-center-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-center-items {
    width: 100%;
}

h1 {
    font-family: 'Righteous', cursive;
    color: rgba(0, 0, 0, .5);
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5cm;
    width: 100%;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Righteous', cursive;
    color: rgba(0, 0, 0, .5);
    font-size: 27px;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01cm;
    margin-top: 15px;
}

h3 {
    font-family: 'Righteous', cursive;
    color: rgba(0, 0, 0, .5);
    font-size: 27px;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01cm;
    margin-top: 15px;
}